<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-white">
  <!-- Navigation -->
  <nav class="bg-gray-800 py-4">
    <div class="container mx-auto px-4">
      <ul class="flex">
        <li class="mr-6">
          <a href="/" class="text-white">Movies</a>
        </li>
        <li class="mr-6">
          <a href="/recommend" class="text-white">Recommender</a>
        </li>
        <li class="mr-6">
            <a href="/about" class="text-white font-bold">About</a>
        </li>
        <li class="mr-6">
          <a href="/contact" class="text-white">Contact</a>
        </li>
    </ul>
    </div>
  </nav>

  <!-- About Us Section -->
  <section class="bg-gray-900 py-16">
    <div class="container mx-auto px-4">
      <h1 class="text-3xl font-bold text-white mb-10">About Us</h1>
      <p class="text-lg leading-7 mb-8">
        In this Project our database has 5010 unique Movies. Our AI Model basically recommends you based on movie's contents. So, it's a Content Based Recommender System. And it filters top 150
        Popular Movies for you based on movie's (Weighted Rating). We've used IMDB Weighted Rating formula here.
        Currently, I'm working on Machine Learning & Artificial Intelligence services also. Recently I've completed <a href="https://book-recommender-engine.onrender.com" target="_blank" class="text-blue-500">BOOK RECOMMENDER ENGINE (AI Project)</a>. And it's ready to launch now!!
      </p>
      <p class="text-lg leading-7">
        If you have any questions, comments, or feedback, please don't hesitate to reach out to us at
        <a href="mailto:deltagon@protonmail.com" class="text-blue-500">deltagon@protonmail.com</a>.
      </p>
    </div>
  </section>

  <footer class="bg-gray-800 py-4">
		<div class="container mx-auto flex justify-between px-4">
		  <p class="text-white">&copy; 2023 Movie Recommender AI</p>
		  <p class="text-white">Developed by <a href="https://www.linkedin.com/in/ishtiuk-ahammed/" class="text-blue-500" target="_blank">Md. Ishtiuk Ahammed</a></p>
		</div>
	</footer>

</body>

</html>
