<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Movie Recommender AI</title>
	<!-- Tailwind CSS -->
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-white">
	<!-- Navigation -->
	<nav class="bg-gray-800 py-4">
		<div class="container mx-auto px-4">
			<ul class="flex">
				<li class="mr-6">
					<a href="/" class="text-white font-bold">Movies</a>
				</li>
				<li class="mr-6">
					<a href="/recommend" class="text-white">Recommender</a>
				</li>
				<li class="mr-6">
					<a href="/about" class="text-white">About</a>
				</li>
				<li class="mr-6">
					<a href="/contact" class="text-white">Contact</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Recommended Movies Section -->
	<section class="bg-gray-900 py-16">
		<div class="container mx-auto px-4">
			<h1 class="text-3xl font-bold text-white mb-10">Trending 150 Movies...</h1>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

                {% for i in range(movie_names|length) %}
				<!-- Movie Cards -->
				<div class="w-full md:w-2/3 px-4 mb-8">
					<div class="bg-gray-800 rounded-lg overflow-hidden">
						<img src={{img_links[i]}} alt="Movie Poster" class="w-full h-64 object-cover" loading="lazy">
						<div class="p-4">
							<h3 class="text-lg font-bold text-white mb-2">{{movie_names[i]}}</h3>
							<h5 class="text_white">Duration - {{runtimes[i]}} min.</h5>
							<h5 class="text_white">Popularity - {{popularity[i]}}</h5>
							<h5 class="text_white">Released - {{release_date[i]}}</h5>
							<h5 class="text_white">Rating - {{avg_rating[i]}}</h5>
						</div>
					</div>
				</div>
                {%endfor%}

			</div>
		</div>
	</section>

	<footer class="bg-gray-800 py-4">
		<div class="container mx-auto flex justify-between px-4">
		  <p class="text-white">&copy; 2023 Movie Recommender AI</p>
		  <p class="text-white">Developed by <a href="https://www.linkedin.com/in/ishtiuk-ahammed/" class="text-blue-500" target="_blank">Md. Ishtiuk Ahammed</a></p>
		</div>
	</footer>
</body>

